/*   ******************************************************   */
/*         Fiche personnage Roll20 pour Naruto Shinobi        */
/*                        Créé par maldragan                  */
/*                             Aout 2020                      */
/*   ******************************************************   */


*, ::before, ::after {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

@font-face {
    font-family:"SF_Shai";
    src:url('https://github.com/maldragan/Roll20-FR-Naruto-sheet-character/blob/master/Typo/SF%20Shai%20Fontai%20Extended%20Oblique.ttf?raw=true');
}
@font-face {
    font-family:"bushido";
    src:url('https://github.com/maldragan/Roll20-FR-Naruto-sheet-character/blob/master/Typo/Roboto-Regular.ttf?raw=true');
}


.charsheet {
   position:absolute;
   background-image:url("https://raw.githubusercontent.com/SOS-ouistiti/MHA_sheet/master/Fiche-Perso-Hero.png");;
   background-repeat: no-repeat;
   width:1280px;
   height:720px;
   background-color:white;
   border:1px solid black;
   
}

button{
    position:absolute;
    width:20;
}

input{
    padding-left:3px;
    font-family:bushido;
    font-size:16px;
    position:absolute;
    font-weight:bold;
}
select{
    
    font-family:bushido;
    font-size:14px;
    position:relative;
    font-weight:bold;
    height:20px;
}


textarea{
    font-family:bushido;
    font-size:16px;
    position:absolute;
    font-weight:bold;
}

.iPetit{
    width:30px;
    
}

.iLine{
    border-top:0px solid black;
    border-left:0px solid black;
    border-right:0px solid black;
    background-color:transparent;
    font-weight:bold;
    font-size:20px;
}

.iNoBorder{
    border:0px solid black;
    background-color:transparent;
}

.iNombre{
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    text-align:center;
}

.Cyan{
    color:#654FE3;
}

.Rouge{
    color:#D83B19;
}

.Vert{
    color:#19D821;
}

.Bleu{
    color:#194CD8;
}

.taFormat2{
    overflow-x:hidden;
    overflow-y:scroll;
    repeat:no-repeat;
    width:400px;
}

.technic{
    position:absolute;
    /*border:1px solid black;*/
    width:570px;
    max-width:570px;
    height:150px;
    max-height:150px;
    top:530px;
    left:15px;
    overflow-x:hidden;
    overflow-y:scroll;
     font-family:bushido;
    font-size:16px;
    font-weight:bold;
    
}
.row:nth-child(odd){
    background-color:rgba(249,180,150,0.5);
}
.row:nth-child(even){
    background-color:rgba(249,180,150,0.5);
}
.TechnicCol1{
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:right;
    width:230px;
}
.TechnicCol2{
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    padding:0;
    width:65px;
}
.TechnicCol3{
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    padding:0;
    width:45px;
}
.TechnicCol4{
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    padding:0;
    width:100px;
}
.TechnicCol5{
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    padding:0;
    width:40px;
}
.TechnicCol6{
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    padding:0;
    width:60px;
}

.gadgets{
    position:absolute;
   background:white;
    /*border:1px solid black;*/
    width:270px;
    max-width:270px;
    height:310px;
    max-height:310px;
    top:400px;
    left:590px;
    overflow-x:hidden;
    overflow-y:scroll;
     font-family:bushido;
    font-size:16px;
    font-weight:bold;
    
}
.GadgetCol1{
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    width:145px;
}
.GadgetCol2{
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    padding:0;
    width:125px;
}
.taFormat{
    height: 40px; 
    font-size: 14px; 
    resize:none; 
    background-color:white;
    position: absolute;
    width: 185px;
}
.taFormat2{
    height: 100px; 
    font-size: 14px; 
    resize:none; 
    position: absolute;
    width: 380;
    overflow-y:scroll;
}

.Centrer{
    text-align:center;
}
.Droite{
    text-align:right;
}
